// Global color definitions

$lavender: #ebebff;

$background: $lavender;

$submit: #10c480;
$cancel: #d91b42;
$discard-item: #e34b4b;
$add-item: #38b5cf;
$light-gray-btn: rgba(234, 236, 239);
$light-gray-btn-border: rgba(207, 212, 219);
$dark-gray: #404040;
